@font-face {
    font-family: "AlmondMilk";
    src: local("AlmondMilk"), url("./../fonts/AlmondMilk.ttf") format("ttf");
}

body {
    background-color: #171717;
    font-size: 24px;
    font-family: "AlmondMilk", serif;
}
