@font-face {
	font-family: AlmondMilk;
	src: url('resources/AlmondMilk.ttf');
}
@font-face {
	font-family: TheBoldFont;
	src: url('resources/TheBoldFont.ttf');
}
@font-face {
	font-family: RobotoB;
	src: url('resources/RobotoB.ttf');
}
header {
    text-align: center;
    padding: 20px;
    background-color: lightgray;
}
header img {
    width: 200px;
}
header nav {
	color: blue;
	text-align: left;
}
body h3 {
	text-align: center;
	font-family: TheBoldFont;
	color: blue;
}
body p {
	font-family: TheBoldFont;
	font-style: italic;
}
.pop-up {
	font-family: TheBoldFont;
	font-style: italic;
	display: inline-block;
	text-align: center;
}
footer p {
	color: green;
	font-family: RobotoB;
}
h1 {
	text-align: center;
	color: red;
	margin: 25px;
}
body section {
	text-align: center;
	font-style: italic;
}
.center-video {
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
  }
.italicSpecial {
	font-style: italic;
	color:purple;
}
footer h5 {
	font-family: RobotoB;
	font-style: italic;
}
footer h4 {
	font-family: RobotoB;
	font-style: italic, bold;
	background: rgba(0, 119, 255, 0.3);
	display: inline-block;
}
